# data storage
# pending pr #250
# Flask-SQLAlchemy
git+https://github.com/nickw444/flask-sqlalchemy
jsonschema

# Web
Flask
flask-bitjws

# Authentication
bitjws
ecdsa
secp256k1

# client (for testing... move later)
requests
bravado-bitjws

# pending pr #4
#alchemyjsonschema
git+https://github.com/isysd/alchemyjsonschema/

