## security
bitjws==0.6.3.1

# database
sqlalchemy
alchemyjsonschema

# pending Pypi release
#sqlalchemy-login-models
git+https://github.com/deginner/sqlalchemy-login-models

# web server
flask
flask-login
flask-bitjws

# client (for testing... move if create setup.py)
requests
bravado-bitjws

